.release-ad-wrap
  margin-bottom 90px
  .title
    width 100%
    height 40px
    line-height 40px
    margin-bottom 20px
    background #FFF3EB
    a
      font-size 12px
      color #333
      letter-spacing 0.25px

    b
      position relative
      margin-left 165px
      padding-left 22px
      font-size 11px
      color #FF794C
      letter-spacing 0.23px
      &:before
        position absolute
        top 3px
        left 0
        width 12px
        height 12px
        content ''
        background url(/static/images/remind.png) no-repeat
        background-size 12px 12px
  .release-ad-box
    ul
      float left
      width 180px
      background #FFF
      .is-disabled
        cursor not-allowed
      li
        height 60px
        padding-left 30px
        line-height 60px
        cursor pointer
        &.active
          background #FFF3EB
          border-bottom 2px solid #FFB422
      .buy-ad
        position relative
        &:after
          position absolute
          top 20px
          right 20px
          width 20px
          height 20px
          content ''
          background url(/static/images/buy_ad.png) no-repeat
          background-size 20px 20px
      .sale-ad
        position relative
        &:after
          position absolute
          top 20px
          right 20px
          width 20px
          height 20px
          content ''
          background url(/static/images/sale_ad.png) no-repeat
          background-size 20px 20px
  .release-ad-content
    float right
    width 1000px
    h1
      position relative
      padding-left 22px
      font-size 11px
      color #FF794C
      letter-spacing 0.23px
      margin-bottom 10px
      &:before
        position absolute
        top 2px
        left 0
        width 12px
        height 12px
        content ''
        background url(/static/images/hint.png) no-repeat
        background-size 12px 12px
  .release-ad-info
    background #FFF
    padding 20px 30px 45px
    ol:nth-child(1)
      border-bottom 1px solid #E1E1E1
      margin-bottom 35px
      li:last-child
        margin-bottom 30px
    ol:nth-child(2)
      border-bottom 1px solid #E1E1E1
      margin-bottom 30px
      li:last-child
        margin-bottom 30px
      li
        p
          margin-bottom 5px
        .sale-num-p
          margin-bottom 10px
    li
      margin-bottom 20px
      p
        margin-bottom 10px
      .coin-span
        display block
        width 608px
        height 38px
        line-height 40px
        padding-left 10px
        background #FFF
        border 1px solid #E1E1E1
        border-radius 2px
      input
        width 458px
        height 38px
        padding-left 10px
        padding-right 150px
        background #FFF
        border 1px solid #E1E1E1
        border-radius 2px
      i
        display inline-block
        width 80px
      em
        font-size 11px
        color #999
        letter-spacing 0.23px
        line-height 17px
      .sel-premium
        margin-right 40px
      b
        font-size 11px
        color #FF794C
        letter-spacing 0.23px
      .limit
        margin-left 20px
      .select-remind
        margin-left 20px
      .switch-block
        float right
        margin-right 320px
      textarea
        width 598px
        height 128px
        padding 10px
        font-size 13px
        background #FFF
        border 1px solid #E1E1E1
        border-radius: 2px
        resize none
        outline none
        &::-webkit-input-placeholder
          font-size 13px
        &::-moz-input-placeholder
          font-size 13px
        &::-ms-input-placeholder
          font-size 13px


      .sale-btn
        width 60px
        height 25px
        margin-left 20px
        background #FFF
        border 1px solid #FFB422
        border-radius 2px
        color #FFB422
        cursor pointer
      .release-btn
        width 620px
        height 40px
        margin-right 30px
        background #999
        border-radius 2px
        color #FFF
        font-size 13px
        letter-spacing 0.15px
        vertical-align bottom
        cursor pointer
      .release-active
        background #FFB422
      .reset-info
        color #FFB422
        letter-spacing 0.29px
        cursor pointer
    .input-li
      position relative
      input
        font-size 13px
      .text-err
        position absolute
        top 71px
        right 310px
        color #ff794c
        fz11()

      p
        line-height 25px
      span
        position absolute
        top 42px
        right 335px
      img
        position absolute
        top 46px
        right 390px
        cursor pointer
      .disabledInput
        background #F4F6FA

      .num-p
        line-height 25px
        i
          float left
        strong
          position relative
          float right
          margin-right 320px
          padding-left 25px
          font-size 13px
          color #FFB422
          letter-spacing 0.27px
          font-weight normal
          cursor pointer
          &:before
            position absolute
            top 7px
            left 0
            content ''
            width 15px
            height 15px
            background url('/static/images/unselect.png')
            background-size 15px 15px
          &.selected:before
            background url('/static/images/selected.png')
            background-size 15px 15px

    .hint-li
      position relative
      padding-left 22px
      font-size 11px
      color #FF794C
      letter-spacing 0.23px
      &:before
        position absolute
        top 2px
        left 0
        width 12px
        height 12px
        content ''
        background url(/static/images/hint.png) no-repeat
        background-size 12px 12px
    .message-li
      position relative
      span
        position absolute
        top 150px
        right 330px
        font-size 13px
        color #999

  .ad-succ-layer
    text-align center
    line-height 94px
    cursor pointer
    span
      b
        color #FFB422

  .ad-err-layer
    text-align center
    .ad-err-laye-container
      width 100%
      height 100%
      display flex
      align-items center
      justify-content center
      p
        width 100%

