
$fz20 = 20px
$fz14 = 14px
$fz13 = 13px

$col422 = #FFB422
$col350 = #FEA350
$col94C = #FF794C
$col123 = #00A123
$col333 = #333
$col999 = #999
$col1E1 = #E1E1E1
$col6FA = #F4F6FA
$col8EF = #EDF8EF
$col4D3 = #E1E1E1
$col3EB = #FFF3EB

fz11()
  font-size 11px
  -webkit-transform scale(0.916666666)
  -webkit-transform-origin 0 0
placeholder()
  &::-webkit-input-placeholder
    color $col999
  &::-moz-placeholder   
    color $col999
  &:-moz-placeholder 
    color $col999
  &:-ms-input-placeholder
    color $col999
