
$fz20 = 20px
$fz14 = 14px
$fz13 = 13px
$fz12 = 12px

$col422 = #FFB422
$col350 = #FEA350 //点击色
$col94C = #FF794C
$col123 = #00A123
$col333 = #333
$col999 = #999
$col1E1 = #E1E1E1
$col6FA = #F4F6FA
$col8EF = #EDF8EF
$col4D3 = #E1E1E1
$col3EB = #FFF3EB
$col100 = #57A100
$col9C9 = #C9C9C9
fz11()
  font-size 11px
  -webkit-transform scale(0.916666666)
  -webkit-transform-origin 0 0

fz10()
  font-size 10px
  -webkit-transform scale(0.8333333333333334)
  -webkit-transform-origin 0 0

fz8()
  font-size 10px
  -webkit-transform scale(0.66666666666666666)
  -webkit-transform-origin 0 0

placeholder()
  &::-webkit-input-placeholder
    color $col999
  &::-moz-placeholder
    color $col999
  &:-moz-placeholder
    color $col999
  &:-ms-input-placeholder
    color $col999

box-sizing()
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box

// 小三角：下
triangle_down($col)
  border-top 5px solid $col
  border-left 5.5px solid transparent
  border-right 5.5px solid transparent
  
// 小三角：上
triangle_up($col)
  border-bottom 5px solid $col
  border-left 5.5px solid transparent
  border-right 5.5px solid transparent

_rotate(deg)
  transform rotate(deg)
  -ms-transform rotate(deg); 	/* IE 9 */
  -moz-transform rotate(deg); 	/* Firefox */
  -webkit-transform rotate(deg); /* Safari 和 Chrome */
  -o-transform rotate(deg); 	/* Opera */

//禁止选中文本
noselect()
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 

@keyframes mymove
  0%
    transform rotate(0deg)
    -ms-transform rotate(0deg) 	/* IE 9 */
    -moz-transform rotate(0deg) 	/* Firefox */
    -webkit-transform rotate(0deg) /* Safari 和 Chrome */
    -o-transform rotate(0deg) 	
  100%
    transform rotate(360deg)
    -ms-transform rotate(360deg) 	/* IE 9 */
    -moz-transform rotate(360deg) 	/* Firefox */
    -webkit-transform rotate(360deg) /* Safari 和 Chrome */
    -o-transform rotate(360deg) 	
@-moz-keyframes mymove
  0%
    transform rotate(0deg)
    -ms-transform rotate(0deg) 	/* IE 9 */
    -moz-transform rotate(0deg) 	/* Firefox */
    -webkit-transform rotate(0deg) /* Safari 和 Chrome */
    -o-transform rotate(0deg) 	
  100%
    transform rotate(360deg)
    -ms-transform rotate(360deg) 	/* IE 9 */
    -moz-transform rotate(360deg) 	/* Firefox */
    -webkit-transform rotate(360deg) /* Safari 和 Chrome */
    -o-transform rotate(360deg) 	
@-webkit-keyframes mymove
  0%
    transform rotate(0deg)
    -ms-transform rotate(0deg) 	/* IE 9 */
    -moz-transform rotate(0deg) 	/* Firefox */
    -webkit-transform rotate(0deg) /* Safari 和 Chrome */
    -o-transform rotate(0deg) 	
  100%
    transform rotate(360deg)
    -ms-transform rotate(360deg) 	/* IE 9 */
    -moz-transform rotate(360deg) 	/* Firefox */
    -webkit-transform rotate(360deg) /* Safari 和 Chrome */
    -o-transform rotate(360deg) 	
@-o-keyframes mymove
  0%
    transform rotate(0deg)
    -ms-transform rotate(0deg) 	/* IE 9 */
    -moz-transform rotate(0deg) 	/* Firefox */
    -webkit-transform rotate(0deg) /* Safari 和 Chrome */
    -o-transform rotate(0deg) 	
  100%
    transform rotate(360deg)
    -ms-transform rotate(360deg) 	/* IE 9 */
    -moz-transform rotate(360deg) 	/* Firefox */
    -webkit-transform rotate(360deg) /* Safari 和 Chrome */
    -o-transform rotate(360deg) 	