//鼠标提示框
.tip01-wrap{
  position:relative;
}
.tip01-wrap .tip01{
  display:none;
  position:absolute;
  left:50%;
  top:-10px;
  line-height:20px;
  background:#fff;
  border-radius:2px;
  padding:10px 20px;
  border:1px solid #fea350;
  transform:translate(-50%,-100%);
}
.tip01-wrap .tip01:after{
  display:block;
  position:absolute;
  border:6px solid transparent;
  border-top-color:#fea350;
  content:"";
  width:1px;
  height:0;
  left:50%;
  top:40px;
  margin-left:-6px;
}
.tip01-wrap:hover .tip01{
  display:block;
}
