*
  padding 0
  margin 0
  color  #333
  font-family "PingFang SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53"
a
  color #333
  text-decoration  none
ul,ol,li
  list-style none
img
  display inline-block
  border none
.clearfix 
  zoom 1
  &:after 
    display block
    height 0
    clear both
    content ""
