body
  width 100%;
  min-width: 1200px;

html,body
  font-size 14px
  background #F4F6FA
  height 100%

input,button
  border none
  outline medium

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td

  padding 0
  margin 0
  color  #333
  font-family "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53"
a
  color #333
  text-decoration  none
ul, ol, li
  list-style none
h1, h2, h3, h4, h5, h6
  font-weight normal
img
  display inline-block
  border none
table
  border-collapse collapse
  border-spacing 0
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary
  display block
em, b, i
  font-weight normal
  font-style normal
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance none
input[type="number"]
  -moz-appearance textfield
.clearfix
  zoom 1
  &:after
    display block
    height 0
    clear both
    content ""
.inner
  width 1200px
  margin 0 auto

.import
  width 179px !important
  height 345px !important