.main .amount{}
.main .amount .rules{display:inline-block;color:#333;fz11();cursor:pointer;height:20px;line-height:20px;user-select:none;}
.main .amount .rules:hover{color:#666;}
.main .amount .rules>img{vertical-align:-1px;width:12px;height:auto;}
.main .amount .rules>span{}
.main .amount .rules>a:hover{color:#fea350;}

.main .order-info .payment>img{vertical-align:-5px;width:20px;height:20px;}

.main button{cursor:not-allowed;}
.main button.able{cursor:pointer;}
.main button.able:hover{background:#fea350;}

.main .tishi{padding-top:10px;line-height:22px;height:32px;box-sizing:border-box;}
.main .tishi>img{vertical-align:-1px;width:12px;height:auto;}
