.err{background-repeat:no-repeat; background-position:center 102px; background-size:140px 140px; height:500px; background-color:#fff;
  padding-top:270px; text-align:center; font-size:14px; color:#999; letter-spacing:0.36px;box-sizing:border-box;}
.err.no-result{background-image:url(/static/images/verify/err_no_result.png);}
.err.load-failed{background-image:url(/static/images/verify/err_load_failed.png);}
.err.net-error{background-image:url(/static/images/verify/err_net_error.png);}
.err.empty{background-image:url(/static/images/rectangle.png);}

.filtrate .price .err-tip{white-space:nowrap;line-height:16px;}
.filtrate .price .err-tip>img{margin-right:7px;width:12px;height:12px;vertical-align:-2px;}

.payment img{width:20px;height:20px;vertical-align:-3px;}

.merchant .avatar{width:45px;height:45px;margin-top:21px;display:inline-block;position:relative;float:left;}
.merchant .avatar .headimg{width:45px;height:45px;border-radius:50%;position:absolute;top:0;cursor:pointer;}
.merchant .avatar .headimg:hover{opacity:0.8;}
.merchant .avatar .largeTran{width:12px;height:auto;position:absolute;left:-3px;transform:rotate(-45deg);}
.merchant .userInfo{height: 45px;margin-left:55px;margin-top:22px;padding-right:10px;}

.merchant .no-trust{display:flex; align-items: center;}
/*.merchant .userInfo>span{display:block;height:20px;overflow:hidden;text-overflow:ellipsis;}*/

.merchant .userInfo .nickname{display:block;height:20px;font-size:14px;color:#333;letter-spacing:0.16px;cursor:pointer;line-height:20px;}
.merchant .userInfo .nickname.no-trust{line-height:45px;height:45px;}

.merchant .userInfo .trust{display:block;border:1px solid #FFA21C;border-radius:2px;line-height:14px;height:16px;letter-spacing:0.11px;
  color:#FFA21C;width:30px;fz10();text-align:center;margin-top:4px;}

.result-list{}
.result-list .thead{user-select:none;border:1px solid #e1e1e1;border-bottom:none;}
.result-list .thead .sort>span:hover{color:#fea350;}
.result-list ul{border:1px solid #e1e1e1;border-top:none;}

.filtrate{user-select:none;}
.filtrate .select{cursor:pointer;}
.filtrate .wholesale>label:hover{cursor:pointer;}
.filtrate .wholesale>label:hover>span{color:#fea350;}
.filtrate .wholesale img{margin-top:1px;}

.filtrate .price input{padding:0 10px !important;}

.popErr{}
.popErr>img{width:14px;height:auto;margin-right:10px;}
