
.filtrate .price .err-tip{white-space:nowrap;line-height:16px;}
.filtrate .price .err-tip>img{margin-right:7px;width:12px;height:12px;vertical-align:-2px;}

.payment img{width:20px;height:20px;vertical-align:-3px;}

.merchant .nickname{line-height:20px !important;top:21px !important;}
.merchant .trust{height:16px !important;bottom:20px !important;}
