.err{background-color:#fff; box-sizing:border-box; background-repeat:no-repeat; background-size:140px 140px;
  background-position:center 30px; padding-top:170px; height:250px; text-align:center; color:#999;}
.err.no-result{ background-image:url(/static/images/verify/err_no_result.png);}
.err.load-failed{background-image:url(/static/images/verify/err_load_failed.png);}
.err.net-error{background-image:url(/static/images/verify/err_net_error.png);}
.err.empty{background-image:url(/static/images/rectangle.png);}
.err.loading{}
