.account{margin-bottom:40px;}
.right{margin-left:200px;}

.right .asset{padding:20px 30px;height:130px;background:#fff;box-shadow: 0 2px 4px 0 #e1e1e1;width:490px;display:inline-block;}
.asset .l0{line-height:50px;font-size:22px;}
.asset .l1{line-height:40px;margin-top:-5px;}
.asset .l1 .big{font-size:22px;letter-spacing:0.62px;}
.asset .l1 .bright{color:#ffb422;}
.asset .l1 .small{font-size:18px;letter-spacing:0.62px;}
.asset .l2{line-height:30px;}

.asset.as2{float:right;}
.asset2{}

/*过滤栏*/
.right .filter{padding:15px 30px;height:60px; display:flex; background:#fff;margin-top:20px;user-select:none;}
.filter .f2{flex-grow:1;text-align:right;}
.filter .f2>span{line-height:30px;}
.filter .f2 .r1{}
.filter .f2 .r2{margin-right:15px;}
.filter .f2 .r3{}

/*radio*/
.radio{display:inline-block;padding-left:27px; cursor:pointer;background  url(/static/images/unselect.png) no-repeat 3px center;background-size:16px 16px;}
.radio.check{background-image:url(/static/images/selected.png);}
.radio.disabled{pointer-events:none;color:#999;}

.checkbox{display:inline-block; padding-left:23px;cursor:pointer; background url(/static/images/rules_unchecked.png) no-repeat 3px center;background-size:14px 14px;}
.checkbox.check{background-image:url(/static/images/rules_checked.png);}
.checkbox.disabled{pointer-events:none;color:#999;}

.right .tb-tab{height:50px;padding:0 30px;background:#fff;user-select:none;}
.tb-tab>ul{display:inline-block;line-height:48px;}
.tb-tab>ul>li{float:left;cursor:pointer;margin-right:40px;font-size:15px;color:#999;font-weight:bold;letter-spacing:0.33px;}
.tb-tab>ul>li.active{border-bottom:2px solid #ffb422;color:#333;}
.tb-tab .tb-tab-r{float:right;height:50px;text-align:right;padding:15px 0;}
.tb-tab .tb-tab-r i{color:#ff794c;line-height:20px;margin-right:15px;font-size:12px;}
.tb-tab .tb-tab-r a{height:25px;width:74px;margin-top:-3px;line-height: 25px;}

/*列表项*/
.right .li{background:#fff;padding:0 30px;height:65px;margin-bottom:10px;}
.li>p{display:inline-block;line-height:65px;vertical-align:top;padding-right:10px;ecli();}
.li .frozen>span{color:#ff794c;}
.li .coin{display:inline-flex;align-items:center;}
.li .coin>img{width:20px;height:20px;margin-right:6px;}
.li .op1>a{width:40px;height:25px;margin:0 2px;line-height:23px;}
.li .op2{line-height:20px;padding:10px 0;}
.li .op2>button{display:block;height:25px;line-height:25px;width:140px;}
.li .op2>a{color:#ffb422;width:140px;display:block;text-align:center;margin-top:5px;}
.li .op2>a:hover{color:#fea350;}
.li .op3>a{width:80px;height:25px;line-height:23px;}

.fb .coin{width:130px;}
.fb .name{width:130px;}
.fb .avail{width:150px;}
.fb .frozen{width:160px;}
.fb .assess{width:150px;}
.fb .opera{width:150px;}

.bb .coin{width:140px;}
.bb .name{width:140px;}
.bb .avail{width:160px;}
.bb .frozen{width:170px;}
.bb .assess{width:160px;}
.bb .opera{width:130px;}

.right .err{background-position:center 100px; height:400px;padding-top:250px;}
