.account{margin-bottom:40px;}
.right{margin-left:200px;}

.right .asset{padding:0 30px;height:130px;background:#fff;box-shadow: 0 2px 4px 0 #e1e1e1;}
.asset .l1{height:90px;padding:30px 0;line-height:30px;}
.asset .l1 .big{font-size:28px;letter-spacing:0.62px;}
.asset .l1 .bright{color:#ffb422;}
.asset .l1 .small{font-size:20px;letter-spacing:0.62px;}
.asset .l2{height:40px;padding:10px 0;line-height:20px;margin-top:-10px;}
.asset .l2>span{font-size: 14px; color: #999; letter-spacing: 0.29px;}
.asset .l2 .quota{}
.asset .l2 .used{margin-left:60px;}

/*过滤栏*/
.right .filter{padding:15px 30px;height:60px; display:flex; background:#fff;margin-top:20px;user-select:none;}
.filter .f1{width:450px; border-radius:2px; display:inline-flex; border:1px solid #ffb422;}
.filter .f1>input{padding:0 10px;flex-grow:1;}
.filter .f1>img{align-self:center; margin-right:10px;}
.filter .f1>img:hover{cursor:pointer; opacity:0.8;}
.filter .f1>button{display:inline-block;cursor:pointer;width:72px; background:url(/static/images/search.png) no-repeat center center #ffb422;}
.filter .f1>button:hover{background-color:#fea350;}

.filter .f2{flex-grow:1;text-align:right;}
.filter .f2>span{line-height:30px;}
.filter .f2 .r1{}
.filter .f2 .r2{margin:0 15px;}
.filter .f2 .r3{}

/*radio*/
.radio{display:inline-block;padding-left:27px; cursor:pointer;background  url(/static/images/unselect.png) no-repeat 3px center;background-size:16px 16px;}
.radio.check{background-image:url(/static/images/selected.png);}
.radio:hover{color:#fea350;}
.radio.disabled{pointer-events:none;color:#999;}

.checkbox{display:inline-block; padding-left:23px;cursor:pointer; background url(/static/images/rules_unchecked.png) no-repeat 3px center;background-size:14px 14px;}
.checkbox.check{background-image:url(/static/images/rules_checked.png);}
.checkbox:hover{color:#fea350;}
.checkbox.disabled{pointer-events:none;color:#999;}

.right .tb-tab{height:50px;padding:0 30px;background:#fff;user-select:none;}
.tb-tab>ul{display:inline-block;line-height:48px;}
.tb-tab>ul>li{float:left;cursor:pointer;margin-right:40px;font-size:16px;color:#999;letter-spacing:0.33px;}
.tb-tab>ul>li.active{border-bottom:2px solid #ffb422;color:#333;}
.tb-tab>button{float:right;height:25px;margin-top:12px;width:74px;}

/*列表项*/
.right .li{background:#fff;padding:0 30px;height:65px;margin-bottom:10px;}
.li>p{display:inline-block;line-height:65px;vertical-align:top;}
.li .frozen{color:#ff794c;}
.li .confirm{color:#57a100;}
.li .coin>img{width:16px;height:auto;margin-right:6px;vertical-align:-3px;}
.li .op1>a{width:40px;height:25px;margin:0 2px;line-height:23px;}
.li .op2{line-height:20px;padding:10px 0;}
.li .op2>button{display:block;height:25px;line-height:25px;width:140px;}
.li .op2>a{color:#ffb422;width:140px;display:block;text-align:center;margin-top:5px;}
.li .op2>a:hover{color:#fea350;}
.li .op3>button{width:80px;height:25px;}

.fb .coin{width:90px;}
.fb .name{width:90px;}
.fb .avail{width:110px;}
.fb .frozen{width:120px;}
.fb .confirm{width:120px;}
.fb .total{width:110px;}
.fb .assess{width:110px;}
.fb .opera{width:160px;}

.bb .coin{width:100px;}
.bb .name{width:100px;}
.bb .avail{width:120px;}
.bb .frozen{width:130px;}
.bb .confirm{width:130px;}
.bb .total{width:120px;}
.bb .assess{width:120px;}
.bb .opera{width:90px;}

.right .err{background-position:center 100px; height:400px;padding-top:250px;}
