.address{margin-bottom:40px;}
.right{margin-left:200px;}

/*表单*/
.right .form-head{padding:10px 30px;background:#fff;height:50px;}
.form-head .select{position:relative;display:inline-block;width:100px;}
.form-head .select:hover>p{color:#fea350;}
.form-head .select>p{line-height:30px;cursor:pointer;}
.form-head .select>p:after{content:"";display:inline-block;border:5px solid transparent;border-top-color:#333;vertical-align:-3px;margin-left:7px;}
.form-head .select>ul{position:absolute;top:30px;left:-10px;width:100px;}
.form-head>a{float:right;line-height:30px;}
.form-head>a>img{height:16px;width:auto;vertical-align:-3px;margin-right:7px;}

.right .form{height:70px;background:#fff;padding:20px 30px;margin-bottom:20px;line-height:30px;border-top:1px solid #e1e1e1;display:flex;}
.right .form>label{width:60px;font-size:14px;}
.right .form>input{flex-grow:1;background:#f4f6fa;padding:0 10px;border-radius:2px;}
.right .form .in1{padding:0 40px 0 10px;}
.right .form>i{color:#999;font-size:12px;margin-left:-40px;width:40px;text-align:center;margin-right:30px;}
.right .form .in2{margin-right:20px;}
.right .form>a{width:70px;height:25px;margin-left:10px;}
.right .form>a.green{line-height:25px;}
.right .form>a.white{line-height:23px;}

/*过滤*/
.right .filter{padding:10px 30px;background:#fff;display:flex;user-select:none;height:50px;}
.filter .input-group{width:450px;border-color:#ffb422;}
.input-group .addin{width:72px;cursor:pointer;background:#ffb422;}
.input-group .addin>img{height:16px;vertical-align:-2px;}
.input-group .addin:hover{background-color:#fea350;}
.filter .f2{flex-grow:1;text-align:right;line-height:30px;}
.f2>a{}
.f2>a>img{width:auto;height:16px;vertical-align:-3px;margin-right:7px;}


/*表头*/
.right .thead{height:50px;background:#fff;border-top:1px solid #e1e1e1;padding:15px 30px 5px 30px}
.right .thead .th{line-height:30px;}
.right .thead .th .drop{width:100px;top:30px;}

/*列表项*/
.right .list{padding-bottom:10px;background:#fff;}
.right .list .li{padding:10px 30px;line-height:30px;}
.li>div{display:inline-block;vertical-align:top;}
.li .op>a{width:50px;height:25px;margin:0 2px;}
.li .op>a.green{line-height:25px;}
.li .op>a.white{line-height:23px;}

.coin{width:180px;}
.name{width:180px;}
.addr{width:360px;}
.op{width:180px;}

/*错误*/
.right .err{background-position:center 122px; height:500px; padding-top:270px;}

placeholder()
