.charge{margin-bottom:40px;}
.right{margin-left:200px;}

/*上部分*/
.right .form{padding:30px;background:#fff;}
.form .p1{position:relative;display:flex;letter-spacing:0.16px;}
.form .p1>label{width:100px;font-size:14px;line-height:30px;font-weight:bold;}
.form .p1 .input-group{width:380px;cursor:pointer;}
.form .p2{line-height:30px;margin-top:20px;}
.form .p2>span{margin-right:40px;color #999;}

.form .card{background:#f4f6fa;padding:20px;margin-top:20px;}
.form .card .warning{font-size:12px;color:#FF794C;letter-spacing:0.12px;}
.form .card .warning>img{vertical-align:-1px;margin-right:6px;width:12px;height:auto;}
.form .card .addr{margin-top:30px;display:flex;height:40px;}
.form .card .addr>label{width:150px;font-size:14px;line-height:40px;font-weight:bold;}
.form .card .addr>span{border:1px solid #ffb422;line-height:38px;padding:0 20px;border-radius:2px;background:#fff;width:600px;}
.form .card .link{margin-top:20px;width:750px;text-align:right;}
.form .card .link>a{margin-left:20px;}

.form .tip{margin-top:30px;}
.form .tip>h5{font-weight:bold;color:#ff794c;}
.form .tip>ul{margin-top:20px;}
.form .tip>ul>li{line-height:30px;color:#999;letter-spacing:0.15px;}
.form .tip>ul>li:before{content:"";display:inline-block;width:10px;height:2px;background:#ffb422;
  vertical-align:middle;margin-top:-3px;margin-right:10px;}
.form .tip>ul>li>a{margin:0 3px;}

/*列表*/
.right .list{background:#fff;padding:10px 30px;border-top:1px solid #e1e1e1;}
.list .title{margin-top:10px;height:30px;line-height:20px;padding: 5px 0;}
.list .title>h3{font-weight:bold;font-size:14px;letter-spacing:0.16px;display:inline-block;}
.list .title .a1{width:60px;height:25px;line-height:23px;margin-left:50px;}
.list .title .a2{float:right;}
.list .thead{margin-top:20px;height:50px;line-height:50px;padding:0;}
.list .li{border-top:1px solid #e1e1e1;height:70px;padding:15px 0;}
.list .li>div{display:inline-block;vertical-align:top;line-height:39px;}
.list .li>div.chargeNum{color:#8bb756;}
.list .li>div>p{line-height:20px;}
.list .li>div.confirm>i{color:#ffb422;}

.time{width:100px;}
.coin{width:100px;}
.chargeNum{width:100px;}
.sendAddr{width:160px;}
.recvAddr{width:360px;}
.confirm{width:80px;}

.right .err{background-position:center 50px; height:300px;padding-top:200px;}

/*二维码弹框*/
.qr-pop{width:400px;height:400px;background:#fff;padding:0 30px;border-radius:2px;}
.qr-pop .close{margin:0 -30px;height:30px;}
.qr-pop .close>i{display:inline-block;width:30px;height:30px;font-size:20px;text-align:center;margin:10px;float:right;cursor:pointer;}
.qr-pop .close>i:hover{opacity:0.8;}
.qr-pop>h3{font-size:20px;letter-spacing:0.41px;font-weight:bold;height:30px;line-height:30px;}
.qr-pop>h3:before{content:"";display:inline-block;width:3px;height:20px;background:#ffb422;margin-right:10px;vertical-align:-3px;}
.qr-pop>img{width:200px;height:200px;margin:40px auto;display:block;border:1px solid #e1e1e1;}
.qr-pop>p{text-align:center;}
