/*警告*/
.warn{line-height:24px;font-size:12px;letter-spacing:0.12px;}
.warn>label{float:left;color:#ff794c;}
.warn>label>img{vertical-align:-1px;margin-right:6px;width:12px;height:auto;}
.warn>p{margin-left:60px;color:#ff794c;}

/*确认框*/
.pop-confirm{height:130px;width:300px;background:#fff;border-radius:2px;margin-left:-150px;}
.pc-close{text-align:right;line-height:30px;margin-bottom:-10px;}
.pc-close>i{font-size:16px;display:inline-block;width:30px;cursor:pointer;text-align:center;}
.pc-close>i:hover{opacity:0.8;}
.pc-text{text-align:center;line-height:50px;}
.pc-btns{text-align:center;line-height:50px;}
.pc-btns .btn{width:100px;height:30px;margin:0 10px;}
