.conversion{margin-bottom:40px;}
.right{margin-left:200px;}

/*上部分*/
.right .form{padding:30px;background:#fff;}
.form .p1{position:relative;display:flex;color:#333;letter-spacing:0.16px;}
.form .p1>label{width:100px;font-size:14px;line-height:30px;font-weight:bold;}
.form .p1 .select{width:380px;cursor:pointer;position:relative;outline:0;}
.form .p1 .select>p{line-height:28px;padding:0 10px;border:1px solid #e1e1e1;border-radius:2px;font-size:13px;height:30px;}
.form .p1 .select>p:after{content:"";border:5px solid transparent;border-top-color:#ffb422;display:block;
  position:absolute;top:12px;right:10px;}
.form .p1 .select:hover>p{border-color:#fea350;}
.form .p1 .select:focus>p{border-color:#fea350;}
.form .p1 .select .drop{position:absolute;top:30px;left:0;width:380px;}

.form .card{background:#f4f6fa;padding:20px;margin-top:20px;}

