.withdraw{margin-bottom:40px;}
.right{margin-left:200px;}

/*上部分*/
.right .form{padding:30px;background:#fff;}
.form .p1{position:relative;display:flex;color:#333;letter-spacing:0.16px;}
.form .p1>label{width:100px;font-size:14px;line-height:30px;font-weight:bold;}
.form .p1 .select{width:380px;cursor:pointer;position:relative;outline:0;}
.form .p1 .select>p{line-height:28px;padding:0 10px;border:1px solid #e1e1e1;border-radius:2px;font-size:13px;height:30px;}
.form .p1 .select>p:after{content:"";border:5px solid transparent;border-top-color:#ffb422;display:block;
  position:absolute;top:12px;right:10px;}
.form .p1 .select:hover>p{border-color:#fea350;}
.form .p1 .select:focus>p{border-color:#fea350;}
.form .p1 .select .drop{position:absolute;top:30px;left:0;width:380px;}

.form .p2{font-size:13px;color #999;letter-spacing:0;line-height:30px;margin-top:20px;}
.form .p2>span{margin-right:40px;}

/*灰色部分*/
.form .card{background:#f4f6fa;padding:20px;margin-top:20px;}
.card .warn{font-size:12px;color:#FF794C;letter-spacing:0.12px;}
.card .warn>label{float:left;line-height:24px;}
.card .warn>label>img{vertical-align:-1px;margin-right:6px;width:12px;height:auto;}
.card .warn>p{margin-left:60px;line-height:24px;color:#FF794C;}

.card .input1{height:40px;display:flex;align-items:center;position:relative;margin-top:30px;}
.card .input1>label{width:150px;font-size:14px;color:#333;line-height:40px;font-weight:bold;}
.card .input1>input{border:1px solid #e1e1e1;border-radius:2px;line-height:38px;padding:0 62px 0 10px;width:500px;}
.card .input1>input.active{border-color:#fea350;}
.card .input1>input:focus{border-color:#fea350;}
.card .input1>img{margin-left:-52px;cursor:pointer;}
.card .input1>img:hover{opacity:0.8;}
.card .input1>i{width:40px;height:40px;cursor:pointer;position:relative;}
.card .input1>i:after{content:"";display:block;width:0;height:0;position:absolute;left:15px;top:17px;
  border:5px solid transparent;border-top-color:#ffb422;}
.card .input1>i:hover{opacity:0.8;}
.card .input1>a{margin-left:20px;}
.card .input1 .drop{position:absolute;left:150px;top:40px;width:500px;}

.card .input2{margin-top:30px;}
.card .input2>label{width:150px;font-size:14px;color:#333;line-height:40px;font-weight:bold;float:left;margin-top:23px;}
.card .input2>p{margin-left:150px;width:500px;}
.card .input2 .i2p1{margin-bottom:3px;line-height:20px;}
.card .input2 .i2p1 .s1{font-size:13px;color:#999;letter-spacing:0;}
.card .input2 .i2p1 .s2{font-size:12px;color:#ff794c;letter-spacing:0.12px;float:right;}

.card .input2 .i2p2{border:1px solid #e1e1e1;border-radius:2px;line-height:38px;display:flex;background:#fff;}
.card .input2 .i2p2.active{border-color:#fea350;}
.card .input2 .i2p2>input{width:500px;padding:0 10px;}
.card .input2 .i2p2>img{align-self:center;cursor:pointer;}
.card .input2 .i2p2>img:hover{opacity:0.8;}
.card .input2 .i2p2>i{font-size:14px;color:#333;letter-spacing:0.16px;padding:0 10px;}

.card .input2 .i2p3{margin-top:10px;color:#333;font-size:13px;letter-spacing:0;}
.card .input2 .i2p4{margin-top:5px;color:#999;font-size:12px;letter-spacing:0;}

.card .input3{margin:30px 0 10px 150px;}
.card .input3 button{width:500px;height:40px;}
.card .input3 button.disabled{background:#999;cursor:not-allowed;}

/*列表*/
.right .list{background:#fff;padding:10px 30px;border-top:1px solid #e1e1e1;}
.list .title{margin-top:10px;height:30px;line-height:20px;padding: 5px 0;}
.list .title>h3{font-weight:bold;font-size:14px;color:#333;letter-spacing:0.16px;display:inline-block;}
.list .title .a1{width:60px;height:25px;line-height:23px;margin-left:50px;}
.list .title .a2{float:right;}

.list .thead{margin-top:20px;height:50px;line-height:50px;}
.list .thead>p{display:inline-block;vertical-align:top;color:#999;letter-spacing:0.27px;font-size:13px;}

.list .li{font-size:13px;letter-spacing:0.27px;border-top:1px solid #e1e1e1;height:70px;padding:15px 0;}
.list .li>div{display:inline-block;vertical-align:top;color:#333;line-height:39px;padding-right:10px;}
.list .li>div>p{line-height:20px;}

.list .li>div.confirm>i{color:#ffb422;}

.time{width:100px;}
.coin{width:100px;}
.num{width:100px;}
.actual{width:100px;}
.addr{width:360px;}
.addrName{width:140px;}
