.uncheck{position:relative;}
.uncheck:after{clear:both; content:''; display:block;}

/*搜索栏*/
.uncheck .srch{width:230px; background:#fff; float:left;}

.srch .head{padding:10px 30px; border-bottom:1px solid #E1E1E1; display:flex; align-items:center; position:relative;}
.srch .head>input{background:#F4F6FA; border-radius:2px; padding:5px 30px 5px 10px; font-size:13px; line-height:20px;
  width:100%; min-width:0; box-sizing:border-box; border:1px solid #e1e1e1;}
.srch .head>img{margin-left:-24px; cursor:pointer;}

.srch>ul{font-size:14px; color:#FFB422; letter-spacing:0.16px; min-height:477px; box-sizing:border-box;}
.srch>ul>li{line-height:20px; padding:8px 34px; cursor:pointer;}
.srch>ul>li:hover{background:#fcfcfc;}
.srch>ul>li.active{ background:#f9f0f0;}
.srch>ul>li>p{display:block;color:#333;}
.srch>ul>li>p.account{color:#999; font-size:12px;}

placeholder()


