.upload-info {margin-left:250px; padding:30px; background:#fff;}
.upload-info>h3{font-size:20px;color:#333333;letter-spacing:0.23px;border-bottom:1px solid #E1E1E1; padding-bottom:15px; font-weight:bold;}
.upload-info>h3>small{margin-left:10px;font-size:16px;}
.upload-info sup{display:inline-block; font-size:11px; color:#FF794C; letter-spacing:0.12px; margin-top:20px;}

.upload-info .inf-li{ font-size:14px; letter-spacing:0.16px; line-height:20px; margin-top:10px;}
.upload-info .inf-li>label{color:#333333; width:150px; display:inline-block;}
.upload-info .inf-li>span{color:#999999; display:inline-block;}

.upload-info .check-img{height:180px; display:flex; justify-content:center; align-items:center;}
.upload-info .check-img>img{width:180px; height:120px; border:1px solid #EEEEEE; border-radius:2px; margin 0 10px;}

/*表单*/
.upload-info .form{ background:#F4F6FA; padding:20px;}
.form .mali{ margin-top:12px; display:flex; align-items:flex-start;}
.form .mali>ul{ margin-left:30px;}
.form .mali>ul>li{ font-size:11px; color:#FF794C; letter-spacing:0.12px; margin-bottom:10px;}
.form .btn-wrap{text-align:center; margin-top:30px;}
.form .btn-wrap .submit-btn{background:#999999; border-radius:2px; width:464px; height:40px; line-height:40px;
  text-align:center; font-size:13px; color:#FFFFFF; letter-spacing:0.15px; cursor:not-allowed;}
.form .btn-wrap .submit-btn.active{background-color:#ffb422; cursor:pointer;}
.form .btn-wrap .submit-btn.active:hover{background-color:#fea350;}

.textarea{border:1px solid #ffb422; border-radius:2px;height:150px;display:flex; flex-direction:column;}
.textarea>textarea{ resize:none; border:none; background:transparent; outline:none; flex-grow:1; padding:10px;}
.textarea .indicator{text-align:right; font-size:13px; color:#999999; letter-spacing:0; line-height:24px; padding 0 6px;}
.textarea.disabled{pointer-events:none;border-color:#e1e1e1;}

.checkbox{ font-size:13px; color:#333333; letter-spacing:0.27px; display:inline-block; padding-left:23px;
  cursor:pointer; background url(/static/images/rules_unchecked.png) no-repeat 3px center;}
.checkbox.check{ background-image:url(/static/images/rules_checked.png);}
.checkbox:hover{ color:#666;}

.radio{ font-size:13px; color:#333333; letter-spacing:0.27px; display:inline-block; padding-left:27px; cursor:pointer;
  background  url(/static/images/unselect.png) no-repeat 3px center;}
.radio.check{ background-image:url(/static/images/selected.png);}
.radio:hover{ color:#666;}
.radio.disabled{pointer-events:none;color:#999;}

/*错误*/
.err{
  background-repeat:no-repeat; background-position center 102px; background-size 140px 140px;background-color:#fff;
  height:547px; margin-left:250px; padding-top:270px; text-align:center; font-size:14px; color:#999;
  letter-spacing:0.36px; box-sizing:border-box;}
.err.no-result{ background-image:url(/static/images/verify/err_no_result.png);}
.err.load-failed{background-image:url(/static/images/verify/err_load_failed.png);}
.err.net-error{background-image:url(/static/images/verify/err_net_error.png);}
.err.empty{background-image:url(/static/images/rectangle.png);}
.err.loading{}

::placeholder{color:#999;font-size:13px;}
